{% load inlineedit %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Inline Edit</title>
</head>
<body>
    <h1>{% inlineedit "object.name" %}</h1>
    
    <table>
        <tr><th>Boolean:</th><td>{% inlineedit "object.approved" %}</td></tr>
        <tr><th>Select:</th><td>{% inlineedit "object.category" %}</td></tr>
        <tr><th>Integer:</th><td>{% inlineedit "object.age" %}</td></tr>
    </table>

    <h2>Integer Selector</h2>
    <p>Select: {% inlineedit "object.intchoices" %}</p>

    <h2>ForeignKey field</h2>

    <p>{% inlineedit "object.website.label" %}: {% inlineedit "object.website.url" %}</p>

    <h2>Fails Edit Permissions</h2>
    <p>Float: {% inlineedit "object.amount" "blocked" %}</p>

    <hr>

    <button onclick="window.location.href='/custom';">Custom adaptor examples</button>
    <button onclick="window.location.href='/template';">Template examples</button>
    <button onclick="window.location.href='/bootstrap';">Bootstrap examples</button>

    <script src="https://code.jquery.com/jquery.js"></script>
    {% inlineedit_script %}
</body>
</html>