<!DOCTYPE html>
<html lang="en">
<head>
    {% load inlineedit %}
    <meta charset="UTF-8">
    <title>Django Inline Edit</title>
</head>
<body>
    <h1>{% inlineedit "object.name" %}</h1>
    
    <table>
        <tr><th>Boolean:</th><td>{% inlineedit "object.approved" %}</td></tr>
        <tr><th>Select:</th><td>{% inlineedit "object.category" %}</td></tr>
        <tr><th>Integer:</th><td>{% inlineedit "object.age" %}</td></tr>
    </table>

    <h2>Integer Selector</h2>
    <p>Select: {% inlineedit "object.intchoices" %}</p>

    <h2>ForeignKey field</h2>

    <p>{% inlineedit "object.website.label" %}: {% inlineedit "object.website.url" %}</p>

    <hr>
    
    <h2>Markdown</h2>
    <p>{% inlineedit "object.notes" "markdown" %}</p>

    <h2>CKEditor</h2>

    <h3>Implicit (RichtextField)</h3>
    <p>{% inlineedit "object.description_implicit" %}</p>

    <h3>Explicit</h3>
    <p>{% inlineedit "object.description_explicit" "ckeditor" %}</p>

    <h3>Custom CKEditor Toolbar</h3>
    <p>{% inlineedit "object.description_toolbar" "ckeditor" toolbar="empty_toolbar" %}</p>

    <hr>

    <h2>Custom Adaptor</h2>
    <p>Float: {% inlineedit "object.amount" "millions" %}</p>

    <h2>Blocked Adaptor</h2>
    <p>Float: {% inlineedit "object.amount" "blocked" %}</p>

    {% inlineedit_script %}
</body>
</html>