<!DOCTYPE html>
<html lang="en">
<head>
    {% load inlineedit %}
    <meta charset="UTF-8">
    <title>Django Inline Edit</title>
</head>
<body>
    <h1>
        {% inlineedit "object.name" %}
    </h1>
    
    <table>
        <tr><th>Approved:</th><td>{% inlineedit "object.approved" %}</td></tr>
        <tr><th>Category:</th><td>{% inlineedit "object.category" %}</td></tr>
        <tr><th>Age:</th><td>{% inlineedit "object.age" %}</td></tr>
    </table>

    <h2>Markdown</h2>
    <p>{% inlineedit "object.notes" "markdown" %}</p>

    <h2>CKEditor</h2>

    <h3>Implicit (RichtextField)</h3>
    <p>{% inlineedit "object.description_implicit" %}</p>

    <h3>Explicit</h3>
    <p>{% inlineedit "object.description_explicit" "ckeditor" %}</p>

    <h3>Set Toolbar</h3>
    <p>{% inlineedit "object.description_toolbar" "ckeditor" toolbar="empty_toolbar" %}</p>

    <h3>Custom Adaptor</h3>
    <p>{% inlineedit "object.amount" "millions" %}</p>

    {% inlineedit_script %}
</body>
</html>